html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  perspective: 1000px;
  margin: 0;
  padding: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: 	#738678;
  color: #f9f9f9;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 320px;
    border-radius: 16px;
    background: url('../images/bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: hue-rotate(180deg);
    transition: 0.5s;
}

.card h1 {
    /* font-size: 38px; */
    font-size: 2.5em;
}

.card button {
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
    background: #221e64;
    color: #f9f9f9;
    font-family: inherit;
    cursor: pointer;
}

@media(max-width:768px) {
    .card {
        margin: auto;
        width: 50%;
        padding: 10px;
        /* width: 300px; */
        /* height: 180px; */
    }
}