* {
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  perspective: 1000px;
  margin: 0;
  padding: 0;
  /* font-family: "Dancing Script"; */
  background: linear-gradient(0deg, rgb(135, 121, 156), rgb(88, 59, 116), rgb(51, 34, 68), rgb(20, 5, 34));
  color: #f9f9f9;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 480px;
    /* border-radius: 16px; */
    /* background: url('../images/mosque.png');
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat; */
    transition: 0.5s;
    /* opacity: 0.7; */
    color: black;
    border: 1em solid transparent;
    background: linear-gradient(white, white)
                padding-box,
                repeating-linear-gradient(-45deg,
                #fa81b6 0, #fa81b6 12.5%,
                transparent 0, transparent 25%,
                #7eb4e2 0, #7eb4e2 37.5%,
                transparent 0, transparent 50%)
                0 / 5em 5em;
}

.card p {
    font-weight: bold;
}

button, a {
    -webkit-tap-highlight-color: transparent;
}

button:active {
    transform: translateY(2px);
}

@media(max-width:768px) {
    .card {
        margin: auto;
        width: 80%;
        height: 320px;
        
    }
}

@media(max-height:720px) {
    .card {
        margin: auto;
        width: 50%;
        height: 80%;
    }
}

.envelope {
    padding: 1em;
    border: 1em solid transparent;
    background: linear-gradient(white, white)
                padding-box,
                repeating-linear-gradient(-45deg,
                #f69ec4 0, #f69ec4 12.5%,
                transparent 0, transparent 25%,
                #7eb4e2 0, #7eb4e2 37.5%,
                transparent 0, transparent 50%)
                0 / 5em 5em;
}