:root {
  --hue: 28;
  --primary-color: hsl(var(--hue), 100%, 8%);
  --primary-color-alt: hsl(var(--hue), 100%, 75%);
  --secondary-color: hsl(var(--hue), 100%, 99%);
  --body-color: hsl(0, 0%, 100%);
  --title-color: hsl(var(--hue), 36%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--primary-color-alt);
  overflow-x: hidden;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.logo {
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.link {
  position: relative;
  color: white;
  padding: 21px 0;
  transition: color 0.3s, background-color 0.3s;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--secondary-color);
}

.link::before {
  content: '';
  display: 'block';
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--secondary-color);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.link:active::before {
  background-color: #000;
}

.link:hover::before,
.link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.menu-toggle {
  color: white;
  display: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  top: -5px;
  left: -6px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.main {
  overflow: hidden;
}

.section {
  padding-block: 5rem 1rem;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1120px;
  margin: 1.5rem;
}

.home-container {
  padding-block: 6rem 8.2rem;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  gap: 1.5rem;
  height: 50vh;
}

.title {
  font-size: 5.5vw;
}

.description {
  font-size: 3vw;
}

.character {
  width: 40vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.character img {
  width: 100%;
}

.options {
  width: 100%;
  font-size: 0;
}

a.button {
  font-size: 2vw;
  display: inline-block;
  padding: 0.35em 1.2em;
  text-decoration: none;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--title-color);
}

a.button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.options a.button:first-child {
  border-radius: 56px 0px 0px 56px;
  border-right: 1px solid var(--primary-color-alt);
}

.options a.button:last-child {
  border-radius: 0px 56px 56px 0px;
}
.rating-container {
  width: 100%;
}

.rating {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 1em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  width: max-content;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.icon {
  font-size: 4vw;
}
.star {
  font-size: 2vw;
  letter-spacing: 0;
}
.review-counter {
  font-size: 0.9em;
}

/* Responsive Breakpoints */
/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }

  .tagline {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
  }

  .character {
    display: none;
    width: 0%;
  }

  .rating-container {
    display: flex;
    justify-content: center;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  nav {
    justify-content: space-between;
    margin: 0 1.5rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    opacity: 0;
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0%);
  }

  .container {
    margin-inline: 1rem;
  }

  .menu-toggle {
    display: flex;
  }

  a.button {
    display: block;
    margin: 0.4em auto;
  }

  .options a.button:first-child {
    border-radius: 0;
    border: none;
  }

  .options a.button:last-child {
    border-radius: 0;
  }
}

/* large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin: auto;
  }

  .home-container {
    padding-block: 10rem 15.3rem;
  }

  .tagline {
    display: flex;
    justify-content: space-around;
  }

  .character {
    height: 35%;
    width: 35%;
  }

  .title {
    font-size: 4.5vw;
  }

  .description {
    font-size: 2vw;
  }

  a.button {
    font-size: 1.3vw;
  }
}
