:root {
  --primary-color: #2b8100;
  --secondary-color: #85ff48;
  --body-color: #d7d7d7;
  --title-color: #1b5200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.logo {
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.link {
  position: relative;
  color: white;
  padding: 21px 0;
  transition: color 0.3s, background-color 0.3s;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--secondary-color);
}

.link::before {
  content: '';
  display: 'block';
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--secondary-color);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.link:active::before {
  background-color: #000;
}

.link:hover::before,
.link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.menu-toggle {
  color: white;
  display: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  top: -5px;
  left: -6px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive Breakpoints */
/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  nav {
    justify-content: space-between;
    margin: 0 1.5rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    opacity: 0.4;
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }
}
