* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font-family: 'Antonio', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background: linear-gradient(#000, #222);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

h1 {
  font-size: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

/* Hamburger icon */
.nav-icon {
  position: relative;
  z-index: 1;
  width: 26px;
  height: 21px;
  cursor: pointer;
}

.nav-icon span {
    position: absolute;
    width: 50%;
    height: 3px;
    background: #2a1929;
    transition: all 0.2s ease-in-out;
}

.nav-icon span {
    background: #fff;
}

.nav-icon.open span:nth-child(odd) {
    /* 1, 3, 5 */
    left: 0;
    border-radius: 5px 0 0 5px;
}

.nav-icon.open span:nth-child(even) {
    /* 2, 4, 6 */
    left: 50px;
    border-radius: 0 5px 5px 0;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
    top: 0;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
    top: 9px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
    top: 18px;
}

.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
    transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
}

.nav-open .nav-icon span:nth-child(1) {
    top: 5px;
    left: 2px;
}

.nav-open .nav-icon span:nth-child(2) {
    top: 5px;
    left: calc(50% - 2px);
}

.nav-open .nav-icon span:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
    left: 150%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
    top: 14px;
    left: 2px;
}

.nav-open .nav-icon span:nth-child(6) {
    top: 14px;
    left: calc(50% - 2px);
}

/* Split Column Slide Down Navigation */
nav {
    position: fixed;
    inset: 0;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    pointer-events: none;
    user-select: none;
    transition: 500ms ease-in-out;
}

nav:has(:nth-child(1):hover) {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

nav:has(:nth-child(2):hover) {
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

nav:has(:nth-child(3):hover) {
    grid-template-columns: 1fr 1fr 2fr 1fr;
}

nav:has(:nth-child(4):hover) {
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.nav-item {
    position: relative;
    height: 100vh;
    padding: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-size: cover;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100vh);
    transition: transform 0.65s;

}

.nav-open .nav-item {
    transform: translateY(0);
}

.nav-item::after {
    position: absolute;
    z-index: -1;
    inset: 0;
    content: '';
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.nav-item:hover::after {
    opacity: 0.5;
}

.nav-item:nth-child(1)::after {
    background-color: rgba(95, 139, 76, 0.5);
}

.nav-item:nth-child(2)::after {
    background-color: rgba(255, 221, 171, 0.5);
}

.nav-item:nth-child(3)::after {
    background-color: rgba(255, 154, 154, 0.5);
}

.nav-item:nth-child(4)::after {
    background-color: rgba(148, 80, 52, 0.5);
}

.nav-item:nth-child(1) {
    background-image: url('./work-office.jpg');
}
.nav-item:nth-child(2) {
    background-image: url('./mockup.jpg');
    background-position: center;
    transition-delay: 500ms;
}
.nav-item:nth-child(3) {
    background-image: url('./photography.jpg');
    transition-delay: 300ms;
}
.nav-item:nth-child(4) {
    background-image: url('./writing.jpg');
    background-position: center;
    transition-delay: 700ms;
}